# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environments
.conda/
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# ML
mlruns/
mlartifacts/
.dvc/
models/
!models/.gitkeep
mlflow.db
condaenv.*.requirements.txt

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# pytest
.pytest_cache/
